In [61]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [62]:
crime_09_20="crime_09_20.csv"
crimer_2020_df=pd.read_csv(crime_09_20,encoding="utf-8")

C:\Users\gsun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [63]:
crime_newtime = pd.to_datetime(crimer_2021_df['occur_date'],format='%Y-%m-%d', errors='ignore')
crime_newtime

0         6/17/2009
1         2/24/2010
2         1/25/2010
3          1/1/2009
4          1/1/2009
            ...
345876    1/27/2021
345877    1/28/2021
345878    1/28/2021
345879    1/28/2021
345880    1/20/2021
Name: occur_date, Length: 345880, dtype: object

In [64]:
crimer_2020_df.head()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long
0,193651657.0,12/31/2019,1458,1388 LA FRANCE ST NE,LARCENY-NON VEHICLE,2308,Edgewood,33.76053,-84.34220
1,193651031.0,12/31/2019,1300,443 MORELAND AVE SE,LARCENY-NON VEHICLE,2302,Ormewood Park,33.74179,-84.34973
2,193650870.0,12/31/2019,1200,2711 METROPOLITAN PKWY SW,LARCENY-NON VEHICLE,2303,Hammond Park,33.68092,-84.40814
3,193651019.0,12/31/2019,1300,969 MARIETTA ST NW,LARCENY-NON VEHICLE,2303,Marietta Street Artery,33.77828,-84.40910
4,193651039.0,12/31/2019,1300,3070 BOLLING WAY NE,LARCENY-NON VEHICLE,2303,Buckhead Village,33.83888,-84.37995

In [65]:
crimer_2020_df.tail()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long
364417,200011298.0,1/1/2020,14:45,2630 MARTIN L KING JR DR SW,AUTO THEFT,NaN,Harland Terrace,33.75377,-84.47405
364418,200011823.0,1/1/2020,20:00,540 HUMPHRIES ST SW,AUTO THEFT,NaN,Mechanicsville,33.73990,-84.40488
364419,200020105.0,1/1/2020,21:45,1174 EUCLID AVE NE,AUTO THEFT,NaN,Inman Park,33.76553,-84.34934
364420,200020704.0,1/1/2020,20:00,383 RALPH MCGILL BLVD NE,AUTO THEFT,NaN,Old Fourth Ward,33.76391,-84.37489
364421,201511120.0,1/1/2020,13:00,144 PONCE DE LEON AVE,AUTO THEFT,NaN,Midtown,33.77255,-84.38249

In [66]:
crimer_2020_df=crimer_2020_df.dropna(how='all')

In [67]:
crimer_2020_df.tail()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long
364417,200011298.0,1/1/2020,14:45,2630 MARTIN L KING JR DR SW,AUTO THEFT,NaN,Harland Terrace,33.75377,-84.47405
364418,200011823.0,1/1/2020,20:00,540 HUMPHRIES ST SW,AUTO THEFT,NaN,Mechanicsville,33.73990,-84.40488
364419,200020105.0,1/1/2020,21:45,1174 EUCLID AVE NE,AUTO THEFT,NaN,Inman Park,33.76553,-84.34934
364420,200020704.0,1/1/2020,20:00,383 RALPH MCGILL BLVD NE,AUTO THEFT,NaN,Old Fourth Ward,33.76391,-84.37489
364421,201511120.0,1/1/2020,13:00,144 PONCE DE LEON AVE,AUTO THEFT,NaN,Midtown,33.77255,-84.38249

In [68]:
crimer_2020_df['occur_year'] = pd.DatetimeIndex(crimer_2020_df['occur_date']).year
crimer_2020_df.head()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long,occur_year
0,193651657.0,12/31/2019,1458,1388 LA FRANCE ST NE,LARCENY-NON VEHICLE,2308,Edgewood,33.76053,-84.34220,2019
1,193651031.0,12/31/2019,1300,443 MORELAND AVE SE,LARCENY-NON VEHICLE,2302,Ormewood Park,33.74179,-84.34973,2019
2,193650870.0,12/31/2019,1200,2711 METROPOLITAN PKWY SW,LARCENY-NON VEHICLE,2303,Hammond Park,33.68092,-84.40814,2019
3,193651019.0,12/31/2019,1300,969 MARIETTA ST NW,LARCENY-NON VEHICLE,2303,Marietta Street Artery,33.77828,-84.40910,2019
4,193651039.0,12/31/2019,1300,3070 BOLLING WAY NE,LARCENY-NON VEHICLE,2303,Buckhead Village,33.83888,-84.37995,2019

In [69]:
crimer_2020_df['occur_month'] = pd.DatetimeIndex(crimer_2020_df['occur_date']).month
crimer_2020_df.head()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long,occur_year,occur_month
0,193651657.0,12/31/2019,1458,1388 LA FRANCE ST NE,LARCENY-NON VEHICLE,2308,Edgewood,33.76053,-84.34220,2019,12
1,193651031.0,12/31/2019,1300,443 MORELAND AVE SE,LARCENY-NON VEHICLE,2302,Ormewood Park,33.74179,-84.34973,2019,12
2,193650870.0,12/31/2019,1200,2711 METROPOLITAN PKWY SW,LARCENY-NON VEHICLE,2303,Hammond Park,33.68092,-84.40814,2019,12
3,193651019.0,12/31/2019,1300,969 MARIETTA ST NW,LARCENY-NON VEHICLE,2303,Marietta Street Artery,33.77828,-84.40910,2019,12
4,193651039.0,12/31/2019,1300,3070 BOLLING WAY NE,LARCENY-NON VEHICLE,2303,Buckhead Village,33.83888,-84.37995,2019,12

In [70]:
crimer_2020_df.to_csv("crime_09_20_clean.csv",index=False, header=True)

In [74]:
crime_18_20=crimer_2020_df.loc[(crimer_2020_df['occur_year']==2021)|(crimer_2020_df['occur_year']==2020)|(crimer_2020_df['occur_year']==2019)|(crimer_2020_df['occur_year']==2018),:]
crime_18_20.head()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long,occur_year,occur_month
0,193651657.0,12/31/2019,1458,1388 LA FRANCE ST NE,LARCENY-NON VEHICLE,2308,Edgewood,33.76053,-84.34220,2019,12
1,193651031.0,12/31/2019,1300,443 MORELAND AVE SE,LARCENY-NON VEHICLE,2302,Ormewood Park,33.74179,-84.34973,2019,12
2,193650870.0,12/31/2019,1200,2711 METROPOLITAN PKWY SW,LARCENY-NON VEHICLE,2303,Hammond Park,33.68092,-84.40814,2019,12
3,193651019.0,12/31/2019,1300,969 MARIETTA ST NW,LARCENY-NON VEHICLE,2303,Marietta Street Artery,33.77828,-84.40910,2019,12
4,193651039.0,12/31/2019,1300,3070 BOLLING WAY NE,LARCENY-NON VEHICLE,2303,Buckhead Village,33.83888,-84.37995,2019,12

In [80]:
crime_march=crimer_2020_df.loc[(crimer_2020_df['occur_month']==3)]
crime_march

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long,occur_year,occur_month
19586,190900496.0,3/31/2019,549,180 WALKER ST SW,BURGLARY-NONRES,2203,Castleberry Hill,33.74964,-84.40132,2019,3
19587,190900596.0,3/31/2019,640,2191 CAMPBELLTON RD SW,BURGLARY-NONRES,2203,Adams Park,33.70578,-84.46017,2019,3
19588,190901678.0,3/31/2019,800,2800 FORREST PARK RD SE,BURGLARY-NONRES,2203,South River Gardens,33.67835,-84.35791,2019,3
19589,190901468.0,3/31/2019,1811,3909 CAMPBELLTON RD SW,AGG ASSAULT,1315,Kings Forest,33.69240,-84.51637,2019,3
19590,190900075.0,3/31/2019,15,3057 PHARR COURT NORTH NW,AGG ASSAULT,1315K,Peachtree Heights West,33.83837,-84.38313,2019,3
...,...,...,...,...,...,...,...,...,...,...,...
360457,200610935.0,3/1/2020,12:00,1176 CHATTAHOOCHEE AVE NW,AUTO THEFT,NaN,Blandtown,33.80058,-84.42561,2020,3
360458,200611745.0,3/1/2020,20:40,633 FORMWALT ST SW,AUTO THEFT,NaN,Mechanicsville,33.73778,-84.39604,2020,3
360459,200618065.0,3/1/2020,15:30,4300 GLOBAL GATEWAY CONNECTOR,AUTO THEFT,NaN,NaN,0.00000,0.00000,2020,3
360460,200620238.0,3/1/2020,23:56,345 PHARR RD NE,AUTO THEFT,NaN,Garden Hills,33.83667,-84.37666,2020,3
360461,200621247.0,3/1/2020,17:00,915 GREENWOOD AVE NE,AUTO THEFT,NaN,Virginia Highland,33.77661,-84.35734,2020,3

In [73]:
grouped_neighbor=crime_18_20.groupby(['neighborhood'])
print(grouped_neighbor)
grouped_count=grouped_neighbor.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021CC8FE4EE0>

In [23]:
crime_18_21['neighborhood'].unique()

array(['Grant Park', 'Sylvan Hills', 'Adamsville', 'West End', 'Downtown',
       'Fairburn Mays', 'Center Hill', 'Adair Park',
       'Atlanta University Center', 'Morningside/Lenox Park', 'Perkerson',
       'Midtown', 'Ashview Heights', 'Blandtown', 'Rockdale',
       'Wildwood (NPU-C)', 'Berkeley Park', 'Pittsburgh', 'Westview',
       'Underwood Hills', 'Lakewood Heights', 'Lindbergh/Morosgo',
       'Lenox', 'Princeton Lakes', 'West Lake', 'Old Fourth Ward',
       'East Atlanta', 'Cascade Avenue/Road', 'Buckhead Forest',
       'Hammond Park', 'Riverside', 'Glenrose Heights',
       'Atlantic Station', 'Oakland City', 'Collier Heights', 'Kingswood',
       'Wildwood (NPU-H)', 'Marietta Street Artery', 'Home Park',
       'Monroe Heights', 'Mozley Park', 'Leila Valley', 'West Highlands',
       'North Buckhead', 'Poncey-Highland', 'Virginia Highland',
       'Lindridge/Martin Manor', 'Candler Park', 'Druid Hills',
       'Mechanicsville', 'Betmar LaVilla', 'Greenbriar', 'Vine City',
       'Ormewood Park', 'Campbellton Road', 'Harland Terrace',
       'Peachtree Hills', 'East Chastain Park', 'Venetian Hills',
       'Bolton', 'Mt. Paran/Northside', 'Buckhead Village', 'Hills Park',
       'Joyland', 'Lake Estates', 'Knight Park/Howell Station',
       'Castleberry Hill', 'South Atlanta', 'East Ardley Road',
       'Florida Heights', 'Grove Park', 'Dixie Hills', 'Reynoldstown',
       'South Tuxedo Park', 'Brandon', 'Custer/McDonough/Guice',
       'Rebel Valley Forest', 'Edgewood', 'Lake Claire',
       'Cascade Heights', 'The Villages at East Lake',
       'Capitol View Manor', 'Inman Park', 'Sweet Auburn',
       'The Villages at Carver', 'Ben Hill Pines', 'Pine Hills',
       'Fort Valley', 'English Park', 'Rosedale Heights',
       'Penelope Neighbors', 'Peachtree Heights East', 'Southwest',
       'Fernleaf', 'Peoplestown', 'Atkins Park', 'Summerhill',
       'East Lake', 'Ben Hill Acres', 'Boulevard Heights', 'Carver Hills',
       'Chastain Park', 'Cabbagetown', 'Kings Forest', 'Bankhead',
       'Piedmont Heights', 'Peachtree Heights West', 'Tampa Park',
       'Peachtree Park', 'Greenbriar Village', 'Loring Heights',
       'English Avenue', 'Garden Hills', 'Scotts Crossing',
       'Chosewood Park', 'Lincoln Homes', 'Hunter Hills', 'Orchard Knob',
       'Harris Chiles', 'Westhaven', 'Pomona Park', 'Thomasville Heights',
       'Randall Mill', 'The Villages at Castleberry Hill',
       'Argonne Forest', 'Wisteria Gardens', 'West Paces Ferry/Northside',
       'Browns Mill Park', 'Swallow Circle/Baywood',
       'Audobon Forest West', 'Blair Villa/Poole Creek', 'Kirkwood',
       'Adams Park', 'Ben Hill Terrace', 'Whittier Mill Village',
       'Oakland', 'Sandlewood Estates', 'South River Gardens',
       'Arlington Estates', 'Laurens Valley', 'Brookwood',
       'Ashley Courts', 'Beecher Hills', 'Woodland Hills', 'Amal Heights',
       'Old Gordon', 'Baker Hills', 'Benteen Park', 'Carroll Heights',
       'Ben Hill', 'Carey Park', 'Tuxedo Park', 'Capitol View',
       'Brookview Heights', 'Washington Park', 'Hanover West',
       'Norwood Manor', 'Ardmore', 'Lakewood', 'Almond Park',
       'Bakers Ferry', 'Sherwood Forest', 'Westminster/Milmar',
       'Niskey Lake', 'Wilson Mill Meadows', 'Bankhead/Bolton',
       'Meadowbrook Forest', 'Paces', 'Brookwood Hills', 'Fairburn',
       'Midwest Cascade', 'Castlewood', 'Mays', 'Westwood Terrace',
       'Fairway Acres', 'Brookhaven', 'Mellwood', 'Cross Creek',
       'Ridgecrest Forest', 'Wildwood Forest', 'Fairburn Heights',
       'High Point', 'Margaret Mitchell', 'Polar Rock', 'Audobon Forest',
       'Atlanta Industrial Park', 'Channing Valley', 'Peyton Forest',
       'Edmund Park', 'Fairburn Road/Wisteria Lane', 'Buckhead Heights',
       'Ansley Park', 'Deerwood', 'Colonial Homes', 'Wesley Battle',
       'Springlake', 'Bush Mountain', 'West Manor', 'Collier Hills',
       'Chalet Woods', 'Capitol Gateway', 'Elmco Estates', 'Bolton Hills',
       'Boulder Park', 'Wyngate', 'Heritage Valley', 'Ben Hill Forest',
       'Ridgedale Park', 'Peachtree Battle Alliance',
       'Green Forest Acres', 'Ivan Hill', 'Memorial Park',
       'Pleasant Hill', 'Just Us', 'Ridgewood Heights',
       'Horseshoe Community', 'Butner/Tell', 'Whitewater Creek',
       'Oakcliff', 'Briar Glen', 'Harvel Homes Community', 'Magnum Manor',
       'Fort McPherson', 'Huntington', 'Fairburn Tell', 'Georgia Tech',
       'Green Acres Valley', 'Collier Hills North', 'Woodfield',
       'Cascade Green', 'Arden/Habersham', 'Brentwood',
       'Mt. Gilead Woods', 'Westover Plantation', 'Regency Trace',
       'Niskey Cove', 'Rue Royal', 'Chattahoochee'], dtype=object)

In [60]:
grouped_count_sort=grouped_count.sort_values(['offense_id'],ascending=False)
grouped_count_sort.head(20)

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,lat,long,timestamp,occur_year
neighborhood,,,,,,,,,,
Downtown,5864,5864,5864,5864,5864,5864,5864,5864,5864,5864
Midtown,4591,4591,4591,4591,4591,4591,4591,4591,4591,4591
Old Fourth Ward,1730,1730,1730,1730,1730,1730,1730,1730,1730,1730
Lindbergh/Morosgo,1658,1658,1658,1658,1658,1658,1658,1658,1658,1658
West End,1383,1383,1383,1383,1383,1383,1383,1383,1383,1383
Home Park,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
North Buckhead,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
Vine City,1122,1122,1122,1122,1122,1122,1122,1122,1122,1122
Lenox,1092,1092,1092,1092,1092,1092,1092,1092,1092,1092
Inman Park,1058,1058,1058,1058,1058,1058,1058,1058,1058,1058
Berkeley Park,1016,1016,1016,1016,1016,1016,1016,1016,1016,1016
Castleberry Hill,970,970,970,970,970,970,970,970,970,970
Grant Park,946,946,946,946,946,946,946,946,946,946
Edgewood,910,910,910,910,910,910,910,910,910,910
Mechanicsville,909,909,909,909,909,909,909,909,909,909
Greenbriar,861,861,861,861,861,861,861,861,861,861
Sylvan Hills,844,844,844,844,844,844,844,844,844,844
Sweet Auburn,794,794,794,794,794,794,794,794,794,794
Grove Park,784,784,784,784,784,784,784,784,784,784
Morningside/Lenox Park,775,775,775,775,775,775,775,775,775,775